<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdpu.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.gdpu.pojo.Student">
            <id property="studentId" column="student_id" jdbcType="INTEGER"/>
            <result property="studentNumber" column="student_number" jdbcType="VARCHAR"/>
            <result property="studentName" column="student_name" jdbcType="VARCHAR"/>
            <result property="isUsed" column="is_used" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        student_id,student_number,student_name,is_used
    </sql>

    <update id="updateByNameNumber">
        update student
        set
            is_used = '1'
        where student_number=#{studentId} and student_name=#{studentName}
    </update>

    <update id="noUsed">
        update student
        set
            is_used = '0'
        where student_number=#{phone} and student_name=#{name}
    </update>

    <select id="findStudent" resultType="com.gdpu.pojo.Student">
        select * from student where student_number=#{studentId} and student_name=#{studentName}
    </select>

</mapper>
