<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdpu.mapper.WorkerMapper">

    <resultMap id="BaseResultMap" type="com.gdpu.pojo.Worker">
            <id property="workerId" column="worker_id" jdbcType="INTEGER"/>
            <result property="workerPhone" column="worker_phone" jdbcType="VARCHAR"/>
            <result property="workerName" column="worker_name" jdbcType="VARCHAR"/>
            <result property="isUsed" column="is_used" jdbcType="VARCHAR"/>
            <result property="normalLastAssigned" column="normal_last_assigned" jdbcType="TIMESTAMP"/>
            <result property="emergencyLastAssigned" column="emergency_last_assigned" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        worker_id,worker_phone,worker_name,is_used,normal_last_assigned,emergency_last_assigned
    </sql>

    <insert id="addWorker">
        INSERT INTO worker ( worker_name, worker_phone )
        VALUES( #{name}, #{phone} )
    </insert>

    <update id="updateByNameNumber">
        update worker
        set
            is_used = '1'
        where worker_phone=#{workerPhone} and worker_name=#{workerName}
    </update>

    <update id="noUsed">
        update worker
        set
            is_used = '0'
        where worker_phone=#{phone} and worker_name=#{name}
    </update>

    <update id="updateNormalLastTime">
        UPDATE worker
        SET normal_last_assigned = CURRENT_TIMESTAMP
        WHERE worker_id = #{workerId};
    </update>

    <update id="updateEmergencyLastTime">
        UPDATE worker
        SET emergency_last_assigned = CURRENT_TIMESTAMP
        WHERE worker_id = #{workerId};
    </update>

    <update id="canWork">
        update worker
        SET can_work = 'yes'
        WHERE worker_id = #{workerId};
    </update>

    <update id="canNotWork">
        update worker
        SET can_work = 'no'
        WHERE worker_id = #{workerId};
    </update>

    <update id="updateWorkerCanWork">
        update worker
        SET can_work = #{canWork}
        WHERE worker_id = #{id};
    </update>


    <select id="findWorker" resultType="com.gdpu.pojo.Worker">
        select * from worker where worker_phone=#{workerPhone} and worker_name=#{workerName}
    </select>

    <select id="selectNormalLastWorkerId" resultType="com.gdpu.VO.NormalVo">
        SELECT wxuser.wxUser_openid,worker.worker_id
        FROM worker
                 JOIN wxuser ON worker.worker_phone = wxuser.phone
        WHERE worker.is_used = '1' AND worker.can_work = 'yes'
        ORDER BY worker.normal_last_assigned
            LIMIT 1
    </select>

    <select id="selectEmergencyLastWorkerId" resultType="com.gdpu.VO.NormalVo">
        SELECT wxuser.wxUser_openid,worker.worker_id
        FROM worker
                 JOIN wxuser ON worker.worker_phone = wxuser.phone
        WHERE worker.is_used = '1' AND worker.can_work = 'yes'
        ORDER BY worker.emergency_last_assigned
            LIMIT 1
    </select>

    <select id="selectAllWorker" resultType="com.gdpu.VO.workerListVo">
        SELECT
            worker_id AS id,
            worker_name AS name,
            CASE
                WHEN can_work = 'yes' THEN '工作'
                WHEN can_work = 'no' THEN '休息'
                ELSE '未知'  -- 如果 can_work 的值不在预期范围内，可以返回 '未知'
                END AS state
        FROM
            worker,wxuser
        WHERE wxuser.phone=worker.worker_phone and wxuser.role='worker' and is_used='1';

    </select>

    <select id="findAvailableWorkers" resultType="com.gdpu.pojo.Worker">
        SELECT * FROM worker WHERE can_work = 'yes' AND is_used = '1' ORDER BY normal_last_assigned, emergency_last_assigned
    </select>


</mapper>
